<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}" class="form-control">
        </label>
        <span th:errors="${event.name}" class="error"></span>
    </div>
    <div>
        <label>
            Description
            <input th:field="${event.description}"  class="form-control">
        </label>
        <span th:errors="${event.description}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>
            Type
            <select th:field="${event.category}" class="form-control">
                <option th:each="category : ${categories}"
                        th:text="${category.name}"
                        th:value="${category.id}"></option>
            </select>
            <p class="error" th:errors="${event.category}"></p>
        </label>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>
